@font-face {
    font-family: 'Open';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Fred';
    src: url('../fonts/FrederickatheGreat-Regular.ttf');
}

* {padding: 0;
    margin: 0;
    box-sizing: content-box;
}

ul {list-style: none;}
header section {
    background-image: url(https://cdn.discordapp.com/attachments/1167394389627240477/1171406505296273428/background-img.jpg?ex=655c9052&is=654a1b52&hm=e7fde94d455c8fd6ec912bbf5e670260187ad7f6f644cebf736903c4297eeeac&);
    color: white; background-size: cover; height:900px;
    
}

header section a{color: white;
text-decoration: none;}

* {font-family: 'Open';}

h1{font-family: 'Fred';}
h2{font-family: 'Fred';}

header section div{
    text-align: center;
    font-size: 16px;
    margin-top: 300px;
}



/* Aktualisierte CSS-Regel für das <a> innerhalb des <div> in der Header-Sektion */
header section div a {
    display: block; /* Mache das <a> zu einem Blockelement */
    margin-top: 20px; /* Ändere den gewünschten Abstand nach Bedarf */
    border: 1px solid white;
    padding: 5px 12px;
    margin-left: 45%;
    margin-right: 45%;
}

/* Aktualisierte CSS-Regel für das <ul> innerhalb des <nav> in der Header-Sektion */
header section nav ul {
    text-align: right;
    margin-right: 40px;
    margin-top: 200px; /* Ändere den gewünschten Abstand nach Bedarf */
}


main {text-align: center;
padding-left: 30%;
padding-right: 30%;
}

main section h3 {font-family: 'Fred';
    padding: 40px 0px;
}

main div {border: 4px solid black;
    margin: 3% 25%;

}

footer {background-color: darkslategray;
    color: white;
    padding-left: 14px;
    
}

footer article {
    padding-top: 30px;

}

footer ul{
    text-align: right;
    
}

footer article a {
    border: 2px solid white;
    padding:  5px 5px;
}

footer article p:nth-of-type(2){margin-bottom: 20px;

}


footer ul li {
    display: inline-block;
}

footer a {color: white;
    text-decoration: none;
}