* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'hehe';
    src: url(../fonts/Agbalumo/Agbalumo-Regular.ttf);
}

* {
    font-family: 'hehe';
    text-align: center;
}

body {
    background: url('../wolfgang-hasselmann-OTG65m1Vr3c-unsplash.jpg') center/cover no-repeat;
    height: 100vh;
}

main {
    padding: 5%;
    
}

article {
    padding: 2%;
    margin: 0 100px;
    background-color: rgba(101, 108, 6, 0.235);
    border-radius: 5rem;

}

h1 {
    font-size: 2rem;
    text-shadow: 2px 1px 2px white;
    padding: 0 15%;

}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 14px;
}