* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;

}

section div {
    width: 100px;
    height: 100px;
    background-color: red;
}

section div:hover {
    transition: all 2s 0.1s;
width: 100%;}