* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

/* margin: auto; für die letzen beiden menu points
flex-wrap: wrap für der gallerie */


main {
    background-color: #d9e8e5;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

section div{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    /* gap: 20px; */
}

section img {
    width: 50%;
    height: 80%;
}
