* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

section div {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    animation: load 1s infinite ease-in;
}

.green {
    background-color: green;
    animation-delay: 0;
}


.purple {
    background-color: blueviolet;
    animation-delay: 0.2s ;
}

.yellow {
    background-color: yellow;
    animation-delay: 0.4s ;
}

.red {
    background-color: red;
    animation-delay: 0.6s ;
}

.pink {
    background-color: pink;
    animation-delay: 0.8s;
}

@keyframes load {
    50% {
        transform: translateY(-10px);
    }
}