* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin: 20% 20%;
}

input {
    padding: 5px 0px;
}

select {
    padding: 5px 0;
}

.long {
    min-width: 20rem;
}

.half {
    min-width: 10rem;
}

#jo {
    color: white;
    border-radius: 3px;
    border: none;
    background-color: aquamarine;
}

#jo:hover {
    color: black;
    background-color: blue;
}