* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poop';
}

@font-face {
    font-family: 'poop';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'play';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}
body {
    height: 100vh;
    background-color: rgb(236, 236, 224);
    position: relative;
}

section {
    background: url('../img/____.png.png') center no-repeat;
    background-size: contain 100vh;
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10px;
    left: 50%;
    /* height: 100vh; */
}

section article {
    position: absolute;
    top: 40vh;
    right: 50vw;
    /* left: -40vw; */
    bottom: 40vh;
}

h1 {
    font-family: 'play';
    /* margin-bottom: 30px;
    margin-left: 5vw; */
    text-align: center;
}

strong {
    font-size: 1.4em;
    font-family: 'play';
    font-size: ;
}

section article p {
    font-size: 0.5rem;
    text-align: center;
    /* margin-bottom: 30px;
    margin-left: 2.5vw;
    margin-right: 2.5vw; */
}

section article button {
    padding: 2% 9%;
    border-radius: 10px;
    font-size: 0.7rem;
    background-color: orange;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    /* margin-left: 7.5vw;
    margin-right: 2.5vw; */
}