* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img {
    width: 400px;
    height: 400px;
    background: url('https://images.unsplash.com/photo-1699936190858-4e90c09ae47a?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.599);
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top: 100%;
}

.img:hover .overlay {
    opacity: 1;
    transition: all 0.5s ease-in;
    transform: translateY(-100%);
}