* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.transform div {
    height: 80px;
    width: 80px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 1s 0.1s ease-out;
}

.transform div:hover {
    color: blue;
    background-color: green;
    transform: translateX(-50px);
    transform: translateY(-100px);
    transform: rotate(90deg);
    transform: scalex(2);
    transform: scale(6);

    transform: skew(15deg, 30deg);
    transform: translate(50px, 100px) rotate(110deg);
}


.Animation {
    background-color: red;
    height: 500px;
    width: 500px;
}

.Animation div {
    height: 50%;
    width: 50%;
    background-color: purple;
    animation: move 5s  linear 0.3s infinite forwards alternate;
    animation-name: move;

}

@keyframes move {
    0% {
        background-color: green;
    }
    33% {
        background-color: pink;
        transform: translateY(100%);
    }

    66% {
        background-color: brown;
        transform: translate(100%, 100%);
    }
    100% {
        background-color: blue;
        transform: translateX(100%);
    }
}


.loader__section {
    display: flex;
    gap: 10px;
}

.loader__section div {
    background-color: gold;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.loader__section div:nth-of-type(1){
    animation: loader 3s infinite ease-in-out;
}
.loader__section div:nth-of-type(2){
    animation: loader 3s  0.3s infinite ease-in-out;
}
.loader__section div:nth-of-type(3){
    animation: loader 3s  0.4s infinite ease-in-out;
}
.loader__section div:nth-of-type(4){
    animation: loader 3s  0.5s infinite ease-in-out;
}
@keyframes loader {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-10px);
    }

    66% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(10px);
    }
}